body {
  margin: 0;
  font-family: 'Ropa Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  margin: 0 auto;

}

.carousel {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.carousel-item + .carousel-item {
  margin-left: 1rem;
}

