body {
  margin: 0;
  font-family: 'Ropa Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.carousel-wrapper {
  border: 1px solid grey;
  margin: 0 auto;
  margin-top: 5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.carousel-wrapper .carousel {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-button {
  cursor: pointer;
}

.carousel-button.previous {
  position: absolute;
  left: 10px;
}

.carousel-button.next {
  position: absolute;
  right: 10px;
}

.carousel .carousel-item {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  transition: transform 300ms ease 100ms;
}

.carousel-wrapper .carousel-title {
  background-color: grey;
  color: white;
  margin: 0;
  width: 100%;
  padding: 0.2rem;
}
  

.carousel-button.previous img {
  transform: scaleX(-1);
}

.carousel-item + .carousel-item {
  margin-left: 1rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1224px) {
  .carousel {
    width: 300px;
  }

  .carousel-item.not-current {
    display: none;
  }
}

/* Desktops and laptops ----------- */
 @media only screen  and (min-width : 1224px) {
  .carousel {
    width: 100%;
  }
}  
